 @import url('https://fonts.cdnfonts.com/css/antique-wonders');
    
:root{
    --fuenteHeading: 'Antique Wonders', sans-serif;;
    --fuenteParrafos: 'PT Sans', sans-serif;

    --primario: #E06034;
    --secundario: #E8A833;
    --rosa: #FDE7D6;
    --azul: #5F5FD3;
    --marron: #A1431B;
    --crema:#FCF5EB;
    --gris: #e1e1e1;
    --blanco: #FFFF;
    --negro: #000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: 4px;
}
/*Globales*/
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1, h2{
    font-family: var(--fuenteHeading);
    color: var(--blanco);
}
h2{
    font-size: 32px;
    color:var(--marron);
}
/* Utilidades */
.noMargin{
    margin:0;
}
.noPadding{
    padding: 0;
}
.centrarTexto{
    text-align: center;
}
/* header */
 .header{
    background-image: url(../img/1.webp);
}

.header{    
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__texto{
    color: var(--blanco);
    padding-top: 15rem;
}
.parrafoHeader{
    text-transform: uppercase;
}
@media (min-width: 768px){
    .header__texto{
        padding-top: 15rem;
    }
    .parrafoHeader{
        font-size: 2.5rem;
        line-height: 1;
    }
}
.barra{
    padding-top: 4rem;
}

@media (min-width: 768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}
.logo{
    color:var(--blanco);
    
}

.logo__bold{
    font-weight: normal;
    font-size: 15rem;
    text-transform: uppercase;
    font-family: var(--fuenteHeading);
}
@media (min-width: 768px){
    .navegacion{
        display: flex;
        gap: 2rem;
    }
    
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
@media (min-width: 768px){
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}
.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    border: none;
}
.screen{
    background-color: var(--blanco);
    padding: 12px;
    font-size: 2.5rem;
    font-weight: bolder;
    mix-blend-mode: screen;
    text-transform: uppercase;
}

@media (min-width: 768px){
    .boton{
        display: inline-block;
    }

}
.boton:hover{
    cursor: pointer;
}
.boton--primario{
    background-color: var(--blanco);
    color: var(--negro);
}
.boton--secundario{
    background-color: var(--primario);
}
.contenedorBoton{
    display: flex;
    justify-content: center;
}

/*agencia*/
.agencia{
    margin-left: 2rem;
}
.contenedorHumano{
    display: flex;
    justify-content:  flex-end;

}
.parrafoHumano{
    width: 600px;
   
}
.imagenesGrid{
    display: flex;
    height: 37rem;
}
.img2{
    height: 100%;
    width: 100%;
    background-image: url(../img/3.webp);
    background-size: cover;

}
@media (min-width: 768px){
    .img1{
        height: 100%;
        width: 25%;
        background-image: url(../img/6.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .img2{
        height: 100%;
        width: 75%;
        background-image: url(../img/3.webp);
        background-size: cover;
    }
    
}

.margen20px{
    margin-right:20px;
}
/*amamos lo que hacemos*/
.amamosTitulo{
    padding: 1rem;
}
.amamos{
    background-image: url(../img/7.webp);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
@media (min-width: 768px){
    .amamos{
        flex-direction: row;
        width: 100%;
        height: 81vh;
    
    }
    .acciones{
        width: 33.33%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .acciones:first-child{
        background-image: url(../img/7.webp);
        background-size: cover;
    }
    .acciones:nth-child(2){
        background-image: url(../img/9.webp);
        background-size: cover;
    }
    .acciones:last-child{
        background-image: url(../img/10.webp);
        background-size: cover;
    }
    
}

.blanco{
    margin: 10px;
    height:100px;
    background-color: var(--blanco);
}
.blanco h3{
    margin-bottom: 0px;
    margin-top:0px;
    font-weight: 900;
    letter-spacing: 2px;
}
.pink{
    color:var(--primario);
}
.yellow{
    color:var(--secundario);
}
.blue{
    color:var(--azul);
}

.blanco p{
    margin-top: 0px;
    font-size: 15px;
}
/*Instagram*/

.ig-link{
    text-transform: uppercase;
    text-decoration: none;
    color:var(--blanco);
    display: flex;
    padding-right: 1.6rem;
}

.grid{
        height: 100vh;
        text-align: center;
        background-image: none;
        margin-top:1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 2rem;    
        padding-bottom: 2.5rem;
    
    }
    .grid--instagram{
        grid-column: 1/ 4;
        background-image: url(../img/11.webp);
        background-repeat: no-repeat;
        background-size: cover;
       
    }
     .enlace--ig{
        display: block;
    }
   .grid--instagram h1, .grid--instagram p{
        padding-top:5px;
        color: white;
    }
@media (min-width: 768px){
    .grid{
        height: 100vh;
        text-align: center;
        background-image: none;
        margin-top:40px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;    
        padding-bottom: 2.5rem;
        margin-bottom: 6rem;
    
    }
    .grid--instagram{
        grid-column: 1/ 4;
        grid-row: 1/ 4;
        background-image: url(../img/11.webp);
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    .ig-link{
    justify-content: flex-end;  
    }

    .enlace--ig{
        display: block;
    }
}
.nosotras{
    background-color: var(--primario);
    display: flex;
    justify-content: space-around;
}
.imgenNosotras{
    display:none;

}
@media (min-width: 768px){


    .imgenNosotras{
        display: inline;
        padding-top: 40px;
        padding-left: 40px;
        margin-bottom:0;
        padding-bottom: 0;    
        width: 50%;
        height: 55rem;
    }
    .pictureNosotras{
        border-top-left-radius: 180px;
        border-top-right-radius: 180px;
    }
    
}

.textoNosotras{
    color: var(--blanco);
    width: 50rem;
    padding-left: 0;
    margin: 0 auto;
    padding: 7rem 5rem;
}

@media (min-width: 768px){
    .textoNosotras{
        padding-top: 40px;
        width: 50rem;
    }
    
}
.textoNosotras h1{
    text-align: center;
}
.clientes{
    display: none;
}

@media (min-width: 768px){
    .clientes{
        display: block;
        background-color: var(--rosa);
    }
    .clientes--flex{
        height: 120px;
        width: 120px;
        display:flex;

    }
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    main{
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;  
    }
    .clientes--div{
        margin:1rem;
        display: flex;
        justify-content: center;
    }
    
}

.flexHacemos{
    height: 35rem;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.flexHacemos h2{
    padding-left: 0rem;
}

@media (min-width: 970px){
    .flexHacemos h2{
        width: 40%;
        text-transform: uppercase;
        padding-left: 10rem;
        padding-right: 0rem;
        font-size: 6rem;
    }
 
    
}
.flexHacemos--img{
    width: 100%;
    height: 25rem;
    background-image: url(../img/14.png);
    background-size: cover;
    background-position: center;
}
.flexHacemos--flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    color:var(--marron);
}

.flexHacemos--flex h3, .flexHacemos--flex p{
   line-height: 0;
}
.ancla{
    color:var(--marron)
}

